@using Nop.Core;
@using Nop.Core.Domain;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@using Nop.Services.Security;
@{
    var storeSettings = EngineContext.Current.Resolve<StoreInformationSettings>();
    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var displayMiniProfiler = storeSettings.DisplayMiniProfilerInPublicStore
        && (!storeSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));

    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
    //custom tag(s)
    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }
    var browser = Request.Browser;
    if (browser.Browser == "IE" && browser.MajorVersion == 8)
    {
        Html.AppendHeadCustomParts("<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>");
    }

    var isAndroid23Class = "notAndroid23";
    if (!string.IsNullOrWhiteSpace(Request.UserAgent) && Request.UserAgent.IndexOf("Android 2.", StringComparison.InvariantCultureIgnoreCase) > 0)
    {
        isAndroid23Class = "android23";
    }

    string currentPageClass = Html.Partial("_CurrentPageClass").ToString().Trim();
    
    var supportRtl = this.ShouldUseRtlTheme();
}
<!DOCTYPE html>
<html@(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
    <head>
        <title>@Html.NopTitle()</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="description" content="@(Html.NopMetaDescription())" />
        <meta name="keywords" content="@(Html.NopMetaKeywords())" />
        <meta name="generator" content="nopCommerce" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700' rel='stylesheet' type='text/css'>
        @Html.NopHeadCustom()
        @*This is used so that themes can inject content into the header*@
        @Html.Partial("Head")
        @Html.Widget("head_html_tag")
        @Html.Widget("head_html_tag_after_css_files_pavilion")
        @Html.NopCssFiles(this.Url, ResourceLocation.Head)
        @Html.NopScripts(this.Url, ResourceLocation.Head)
        @Html.NopCanonicalUrls()
        @Html.Action("RssHeaderLink", "News")
        @Html.Action("RssHeaderLink", "Blog")
        @*Favicon - upload favicon.ico file to the root directory*@
        @Html.Action("Favicon", "Common")
        @if (displayMiniProfiler)
        {
            @StackExchange.Profiling.MiniProfiler.RenderIncludes()
        }
        <!-- Global site tag (gtag.js) - Google Ads: 1025360246 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1025360246"></script>
        <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-1025360246');</script>
        <!--Powered by nopCommerce - http://www.nopCommerce.com-->

    </head>
    <body class="@isAndroid23Class @currentPageClass @if (supportRtl){<text>rtl</text>}">

        <span id="siteseal">
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=NIQyz2zUtqnUaPuI7i2wVaXU8qM7KW8KtvmplYO2j1WORz0THQcq0Ej5Fp2j"></script></span>

        @RenderBody()
        @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
        @Html.NopScripts(this.Url, ResourceLocation.Foot)
        <div id="goToTop"></div>

        <div class="popup-bg hide"></div>
    </body>
</html>
