@model FoxNetSoft.Plugin.Misc.SpeedFilters.Models.SelectedSpeedFilter
@{
    Layout = null;
}
@using Nop.Web.Models.Catalog;
@using FoxNetSoft.Plugin.Misc.SpeedFilters.Models;
@using Nop.Web.Extensions;
<div class="product-selectors">
    @*view mode*@
    @if (Model.PagingFilteringContext.AllowProductViewModeChanging && Model.Products.Count > 0)
    {
     <div class="product-viewmode">
           <span>@T("Catalog.ViewMode")</span>
             @Html.DropDownList("products-viewmode", Model.PagingFilteringContext.AvailableViewModes, new { onchange = "sf_productselectors_onchange();" })
     </div>
    }
    @*sorting*@
    @if (Model.PagingFilteringContext.AllowProductSorting && Model.Products.Count > 0)
    {
         <div class="product-sorting">
          <span>@T("Catalog.OrderBy")</span>
            @Html.DropDownList("products-orderby", Model.PagingFilteringContext.AvailableSortOptions, new { onchange = "sf_productselectors_onchange();" })
        </div>
    }
    @*page size*@
    @if (Model.PagingFilteringContext.AllowCustomersToSelectPageSize && Model.Products.Count > 0)
    {
    <div class="product-page-size">
        <span>@T("Catalog.PageSize")</span> 
          @Html.DropDownList("products-pagesize", Model.PagingFilteringContext.PageSizeOptions, new { onchange = "sf_productselectors_onchange();" })
        <span>@T("Catalog.PageSize.PerPage")</span>
    </div>
    }
</div>