@** Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model global::Nop.Web.Models.Catalog.ProductDetailsModel
@using Nop.Web.Models.Catalog

<div class="product-overview-line">
    <div class="product-essential">
        <!--product pictures-->
        <div class="gallery">
            <div class="picture">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
            </div>
        </div>
        <div class="overview">
            @if (!String.IsNullOrEmpty(Model.Name))
            {
                <h1 class="product-variant-name">
                    @Model.Name
                </h1>
            }
            @if (!String.IsNullOrEmpty(Model.ShortDescription))
            {
                <div class="short-description">
                    @Html.Raw(Model.ShortDescription)
                </div>
            }
            @{

                var dataDictPrice = new ViewDataDictionary();
                dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                <div class="table-price-product-right">
                    @if (Model.DiscountRanges.Count > 0)
                    {
                        <div class="table-price-product" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <table>
                                <tr>
                                    <td colspan="2" style="background-color:#940808;text-align:center;color:white;font-size:medium;font-weight:bold;">
                                        Discount
                                    </td>
                                </tr>
                                <tr style="background-color:#dbdbdb;color:#025286 ;font-size:15px;">
                                    <td align="center">
                                        Quantity Range
                                    </td>
                                    <td align="center">
                                        Sale Price
                                    </td>
                                </tr>
                                @{
                                    var cnt = Model.DiscountRanges.Count - 1;
                                    var counter = 0;
                                    foreach (var a in Model.DiscountRanges)
                                    {
                                        if (counter < cnt)
                                        {
                                            <tr style="background-color:#f4f4f4; font-size:13px">
                                                <td align="center">
                                                    @a.MinQty - @a.MaxMiniQty
                                                </td>
                                                <td align="center">
                                                    $@a.Amount.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture) ea.
                                                </td>
                                            </tr>
                                        }

                                        else
                                        {
                                            <tr style="background-color:#f4f4f4; font-size:13px">
                                                <td align="center">
                                                    @a.MinQty - More
                                                </td>
                                                <td align="center">
                                                    $@a.Amount.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture) ea.
                                                </td>
                                            </tr>

                                        }
                                        counter = counter + 1;
                                    }
                                }
                            </table>

                        </div>

                                    }
                    
                </div>
                 
                var dataDictAttributes = new ViewDataDictionary { TemplateInfo = { HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id) } };
                @Html.Partial("_AjaxCartProductAttributes", Model.ProductAttributes, dataDictAttributes)

                if (Model.IsRental)
                {
                    @Html.Partial("_AjaxCartRentalInfo", Model)
                }

                var dataDictAddToCart = new ViewDataDictionary();
                dataDictAddToCart.Add("ProductId", ViewData["ProductId"]);
                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);

                bool isAddToCartButton = (bool)ViewData["IsAddToCartButton"];

                if (isAddToCartButton)
                {
                    @Html.Partial("MiniProductDetailsViewProductAddToCart", Model.AddToCart, dataDictAddToCart)
                }
                else
                {
                    @Html.Partial("MiniProductDetailsViewProductAddToWishlist", Model.AddToCart, dataDictAddToCart)
                }
            }

            <span class="message-error"></span>
        </div>
    </div>

    @{
        MvcHtmlString tierPrice = MvcHtmlString.Empty;
        if (Model.TierPrices.Count > 0 && !(Model.TierPrices.Count == 1 && Model.TierPrices[0].Quantity <= 1))
        {
            tierPrice = Html.Partial("_ProductTierPrices", Model.TierPrices);
        }

        MvcHtmlString giftCard = MvcHtmlString.Empty;
        if (Model.GiftCard.IsGiftCard)
        {
            var dataDictGiftCard = new ViewDataDictionary { TemplateInfo = { HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id) } };
            giftCard = Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard);
        }
    }

    @if (!MvcHtmlString.IsNullOrEmpty(tierPrice) || !MvcHtmlString.IsNullOrEmpty(giftCard))
    {
        <div class="product-collateral">

            @tierPrice

            @giftCard

        </div>
    }

</div>