@model Nop.Plugin.Payments.PayPalExpressCheckout.Models.CheckoutConfirmModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrder")</h1>
    </div>
    <div class="page-body checkout-data">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginRouteForm("Plugin.Payments.PayPalExpressCheckout.Confirm", FormMethod.Post,
                new Dictionary<string, Object> { { "data-ajax", "false" }, { "id", "confirm-order-form" } }))
        {
            @Html.Widget("mobile_checkout_confirm_top")

            if (Model.Warnings.Count > 0)
            {
            <div class="message-error">
                <ul>
                    @for (int i = 0; i < Model.Warnings.Count; i++)
                    {
                        <li>@Model.Warnings[i]</li>
                    }
                </ul>
            </div>
            }
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#confirm-order-form').submit(function () {
                        $('#nextstep').addClass('ui-disabled');
                    });
                });
            </script>
            
            <div class="confirm-order">
                <div class="select-button">
                    @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
                    {
                        @Model.MinOrderTotalWarning
                    }
                    else
                    {
                        <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" />
                    }
                </div>
            </div>  
            @Html.Widget("mobile_checkout_confirm_bottom")
        }
        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
        </div>
        <div class="section confirm-order" style="border: none;padding-right: 0;background: none !important;padding-top:0px;">
            <form action="/Plugins/PaymentPayPalExpressCheckout/Confirm" id="confirm-order-form" method="post" novalidate="novalidate">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#confirm-order-form').submit(function () {
                            $('input[type=submit]', this).attr('disabled', 'disabled');
                        });
                    });
                </script>
                <div class="buttons" style="text-align: right;">
                    <input name="nextstep" value="Confirm" class="button-1 confirm-order-next-step-button" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
