@model Nop.Plugin.Payments.PayPalExpressCheckout.Models.CheckoutConfirmModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    var WorkContext = EngineContext.Current.Resolve<IWorkContext>();
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrder")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("checkout_confirm_top")
        @*<div class="section confirm-order">
            @using (Html.BeginRouteForm("Plugin.Payments.PayPalExpressCheckout.Confirm", FormMethod.Post, new { id = "confirm-order-form" }))
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#confirm-order-form').submit(function () {
                            $('input[type=submit]', this).attr('disabled', 'disabled');
                        });
                    });
                </script>
                if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
                {
                <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                }
                else
                {
                <div class="buttons">
                    <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" class="button-1 confirm-order-next-step-button" />
                </div>
                }
                if (Model.Warnings.Count > 0)
                {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
                }
            }
        </div>*@
        @Html.Widget("checkout_confirm_bottom")
        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
        </div>
        <div class="section confirm-order" style="border: none;padding-right: 0;background: none !important;">
            <form action="/Plugins/PaymentPayPalExpressCheckout/Confirm" id="confirm-order-form" method="post" novalidate="novalidate">
                @if (WorkContext.OriginalCustomerIfImpersonated != null)
                {
                    <div class="impersonate-send-mail">
                        <input id="impersonate" type="checkbox" name="impersonate" />
                        <label for="impersonate">@T("Checkout.impersonate.Sendmail")</label>
                    </div>
                }
                else {<input id="impersonate" type="hidden" name="impersonate" value="" /> }
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#confirm-order-form').submit(function () {
                            $('input[type=submit]', this).attr('disabled', 'disabled');
                        });
                    });
                </script>
                <div class="buttons" style="text-align: right;">
                    <input name="nextstep" value="Confirm" class="button-1 confirm-order-next-step-button" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
