@{
    Layout = "";
}
@model Nop.Plugin.Misc.Redirect.Models.RedirectSettingsModel
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ShowHelpIcons)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ShowHelpIcons)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Use404Catcher)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Use404Catcher)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseCacheControl)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.UseCacheControl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper"><label class="control-label" for="TransactModeValues" title="">@T("Nop.Plugin.Misc.Redirect.Config.Reset")</label><div class="ico-help" title="@T("Nop.Plugin.Misc.Redirect.Config.Defaults.Hint")"><i class='fa fa-question-circle'></i></div></div>
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="button" class="btn bg-red" onclick="return confirm('@T("Admin.Common.AreYouSure")');" value="@T("Nop.Plugin.Misc.Redirect.Config.Defaults")" /> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="button" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}