@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        //Html.AddCanonicalUrlParts(categoryUrl);
        Uri url = new Uri(this.Request.Url.ToString());
        string path = String.Format("{0}{1}{2}{3}", url.Scheme,
            Uri.SchemeDelimiter, url.Authority, "/" + Model.CanonicalUrl);

        Html.AddCanonicalUrlParts(path);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;

    var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();

}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@*category breadcrumb*@

@section Breadcrumb
{
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                    <span class="delimiter">@breadcrumbDelimiter</span>
                </li>
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    <li>
                        @if (isLastCategory)
                        {
                            <strong class="current-item">@cat.Name</strong>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                            <span class="delimiter">@breadcrumbDelimiter</span>
                        }
                    </li>
                }
            </ul>
        </div>
        @Html.Widget("categorydetails_after_breadcrumb", Model.Id)
    }
}

<div id="category-seo-section">

    @if (Model.bannerid > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div id="@(Model.bannerid + "image")" class="uploaded-image">
                    <img src="@(pictureService.GetPictureUrl(Model.bannerid, 0, true))" style="width:100%;height:250px !important;" />
                </div>
            </div>
        </div>
    }
    <style>
        .sub-category-grid .item-box {
            margin-bottom: .4% !important
        }

        .sub-category-item {
            border: none !important
        }

        .category-section-newest-sublist {
            column-count: 4;
            column-gap: 10px;
        }

        .category-section-newest-block {
            padding: 4px 15px 4px 0px;
            margin-bottom: 10px;
        }

        .category-section-newest-subcategory {
            font-size: 24px;
            font-weight: 500;
        }

        .category-section-newest-sublist-2level {
            padding: 0 0 5px;
        }

        .control-picture-img {
            width: 100%;
            max-height: 350px !important;
        }

        .font-size-25 {
            font-size: 25px;
        }

        .font-size-20 {
            font-size: 20px;
        }

        .text-alugn-left {
            text-align: left;
        }

        .tags-color {
            color: #0072bc;
        }

        .font-weight-700 {
            font-weight: 700;
        }

        #category-seo-section {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        #category-seo-section__controll-data {
            display: flex;
            align-items: center;
        }
    </style>

    <div id="category-seo-section">
        <div id="category-seo-section__tags">
            <div class="speed-filter-htag" id="SpeedFilterHTag"><h1 class="font-size-25 text-alugn-left">@Model.H1Tag</h1></div>
        </div>

        <div id="category-seo-section__controll-data">
            <p>@Model.ControlData</p>
        </div>
    </div>


    <div id="@(Model.ControlPictureId + "image")" class="uploaded-image">
        <img src="@(pictureService.GetPictureUrl(Model.ControlPictureId, 0, true))" class="control-picture-img" />
    </div>


    <div class="category-section-newest">
        <ul class="category-section-newest-sublist">
            @foreach (var subcategories in Model.SubCategories.OrderBy(x => x.Name))
            {
                <li class="category-section-newest-block">
                    <a class="category-section-newest-subcategory"
                       href="@Url.RouteUrl("Category", new {SeName = subcategories.SeName})"
                       filter-block="subcategory" filter-option-id="@subcategories.Id">
                        @subcategories.Name
                    </a>

                    @foreach (var subSubCategories in subcategories.SubCategories.OrderBy(x => x.Name))
                    {
                        <ul class="category-section-newest-sublist-2level">
                            <li>
                                <a class="category-section-newest-2level-sucategory"
                                   href="@Url.RouteUrl("Category", new {SeName = subSubCategories.SeName})"
                                   filter-block="subsubcategory" filter-option-id="@subSubCategories.Id">
                                    @subSubCategories.Name
                                </a>
                            </li>
                        </ul>
                    }

                </li>
            }
        </ul>
    </div>

    <div class="page category-page" style="min-height: auto; margin-bottom: 16px;">
        @if (Model.CategoryBannerModels.Where(x => x.BannerNumber == 0).Any())
        {
            <div class="category-owl-carousel owl-theme">
                @foreach (var item in Model.CategoryBannerModels.Where(x => x.BannerNumber == 0).OrderBy(x => x.DisplayOrder))
                {
                    <div class="item">
                        <a href="@item.BannerUrl"><img src="@item.FullSizeImageUrl" alt="@item.AlternateText"></a>
                    </div>
                }
            </div>
        }

        @if (Model.CategoryBannerModels.Where(x => x.BannerNumber != 0).Any())
        {
            <div class="products-main">
                @foreach (var item in Model.CategoryBannerModels.Where(x => x.BannerNumber != 0).OrderBy(x => x.BannerNumber))
                {
                    <div class="product-box">
                        <div class="images">
                            <a href="@item.BannerUrl"><img src="@item.FullSizeImageUrl" alt="@item.AlternateText"></a>
                        </div>
                    </div>
                }
            </div>
        }


        <div class="speed-filter-header-title" id="SpeedFilterHeadrTitle"><h2 class="font-size-20 text-alugn-left font-weight-700">@Model.HeaderTitle</h2></div>
        <div class="speed-filter-h2tag" id="SpeedFilterH2Tag"><h2 class="font-size-20 text-alugn-left font-weight-700">@Model.H2Tag</h2></div>
        <div class="speed-filter-header-copy" id="SpeedFilterHeadrCopy">@Model.HeaderCopy</div>
    </div>
    <div class="page-title">
        <h2>@Model.Name</h2>
    </div>

</div>


<div id="category-body-section">
    <div class="page-body">
        @*@Html.Widget("categorydetails_top", Model.Id)*@
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="category-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @*@Html.Widget("categorydetails_before_subcategories", Model.Id)*@
        @*subcategories*@
        @if (1 == 2)
        {
            if (Model.SubCategories.Count > 0)
            {
                <div class="category-grid sub-category-grid">
                    <div class="item-grid">
                        @foreach (var item in Model.SubCategories.OrderBy(x => x.Name))
                        {
                            <div class="item-box">
                                <div class="sub-category-item category-text">
                                    <h2 class="title">
                                        <a href="@Url.RouteUrl("Category", new {SeName = item.SeName})" title="@item.PictureModel.Title">
                                            @item.Name
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        @Html.Widget("categorydetails_before_featured_products", Model.Id)
        @*featured products*@
        @if (Model.FeaturedProducts.Count > 0)
        {
            <div class="product-grid featured-product-grid">
                <div class="title">
                    <strong>@T("Products.FeaturedProducts")</strong>
                </div>
                <div class="item-grid">
                    @foreach (var item in Model.FeaturedProducts)
                    {
                        <div class="item-box">
                            @Html.Partial("_ProductBox", item)
                        </div>
                    }
                </div>
            </div>
        }
        @Html.Widget("categorydetails_after_featured_products", Model.Id)
        @if (Model.Products.Count > 0)
        {
            @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
        }
        @Html.Widget("categorydetails_before_filters", Model.Id)

        @Html.Widget("categorydetails_before_product_list", Model.Id)

        @Html.Widget("categorydetails_bottom", Model.Id)
    </div>

    <div class="category-page-footer-content-main">
        @{
            int count = 1;
            foreach (var item in Model.FooterContent)
            {
                <div class="category-page-footer-content">
                    <div class="category-page-footer-content-panel panel-default">
                        <div class="category-page-footer-content-panel-heading">
                            <h2 id="footer-heading@(count)" class="panel-title">@Html.Raw(item.Item1)</h2>
                        </div>
                        <div id="footer-content@(count)" class="category-page-footer-content-panel-body">
                            @Html.Raw(item.Item2)<br>
                        </div>
                    </div>
                </div>
                count++;
            }
        }
    </div>
</div>


<script>
    $(document).ready(function () {
        var loop = true;
        if (@Model.CategoryBannerModels.Where(x => x.BannerNumber == 0).Count()== 1)
        {
            loop = false;
        }
        $('.category-owl-carousel').owlCarousel({
            loop: loop,
            margin: 10,
            dots: true,
            autoplay: true,
            autoPlaySpeed: 10000,
            autoPlayTimeout: 10000,
            nav: loop,
            navText: ['<span class="fas fa-chevron-left"></span>', '<span class="fas fa-chevron-right"></span>'],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });

        setTimeout(function () { CleanCategoryDomElements(); }, 500);
        setTimeout(function () { CleanCategoryDomElements(); }, 1000);
        setTimeout(function () { CleanCategoryDomElements(); }, 1500);
        setTimeout(function () { CleanCategoryDomElements(); }, 2000);
        setTimeout(function () { CleanCategoryDomElements(); }, 2500);
        setTimeout(function () { CleanCategoryDomElements(); }, 3000);
        setTimeout(function () { CleanCategoryDomElements(); }, 3500);
        setTimeout(function () { CleanCategoryDomElements(); }, 4000);
        setTimeout(function () { CleanCategoryDomElements(); }, 5000);
    });

    function CleanCategoryDomElements() {
        $(".center-2").remove();
        $(".side-2").remove();
        $(".page-title").remove();
        $(".pager").remove();
    };

    var seoSection = $("#category-seo-section").html();
    $("#category-seo-section").remove();
    $("#category-newest-template-seo-section").html(seoSection);
</script>